[Unit]
Description=Enable Wifi
#BindsTo=sys-subsystem-net-devices-uap0.device
#After=sys-subsystem-net-devices-uap0.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/hostapd-de/wifi.sh
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
