[Unit]
Description=Job Receiver Application
StartLimitBurst=3
StartLimitIntervalSec=30

[Service]
#Command to execute when the service is started
ExecStart=/usr/bin/python3 -u /usr/sbin/jobreceiver/jobReceiver.py
Environment=PYTHONBUFFERED=1
StandardOutput=file:/var/tmp/entomologist-job.log
StandardError=inherit
# Automatically restart the service if it crashes
Restart=on-failure

[Install]
WantedBy=multi-user.target
